body {
  font-family: Do hyeon, helvetica, Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.menu{
  width: 1150px;
  height: 130px;
  font-size: 30px;

      display: flex;
      align-content: space-between;
}

ul {
  list-style-type: none;
  overflow: hidden;
  background-color: white;
  display: flex;
  flex-direction: row;
  width: 1150px;
  height: 100px;
justify-content: space-around;
}

li {
  float: left;
  border-right: 1px;
}

li:last-child {
    border-right: none;
}

li a {
  display: block;
  color: black;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #366ea2;
}

li a:active {
  background-color: #366ea2;
}


.kreator_image {
  width: 145px;
  height: 45px;
  display:flex;
  align-self: flex-end;
}

.logo_image {
  width: 100px;
  height: 75px;
  display:flex;
align-self: flex-start;
}

.month{
  border: 1.5px black solid;
  width: auto; height:50px;
  display:flex;
}

.jobs{
  padding: 100px;
  font-size: 36px;
}

.co{
  padding-left: 30px;
  font-size: 40px;
}

.june, .july, .august, .september, .october, .november, .december{
  display:flex;
  flex-direction: row;
}
.june_content, .july_content, .august_content, .september_content, .october_content, .november_content, .december_content{
  padding-bottom:100px;
  padding-left:15px;
}

.semi-june, .semi-july, .semi-august, .semi-september, .semi-october, .semi-november, .semi-december{
font-size: 24px;
cursor: pointer;
display: flex;
flex-direction: row;
}

.semi-june-article:hover, .semi-june-company:hover, .semi-june-job:hover{
  color: black;
}
.semi-july-article:hover, .semi-july-company:hover, .semi-july-job:hover{
  color:black;
}
.semi-august-article:hover, .semi-august-company:hover, .semi-august-job:hover{
  color: black;
}
.semi-september-article:hover, .semi-september-company:hover, .semi-september-job:hover{
  color: black;
}

.semi-october-article:hover, .semi-october-company:hover, .semi-october-job:hover{
  color: black;
}

.semi-october-article:hover, .semi-october-company:hover, .semi-october-job:hover{
  color: black;
}

.semi-november-article:hover, .semi-november-company:hover, .semi-november-job:hover{
  color: black;
}

.semi-december-article:hover, .semi-december-company:hover, .semi-december-job:hover{
  color: black;
}

a{
  color: white;
  text-decoration: none;
}

a:hover{
  color: black;
}
