body {
  font-family: Do hyeon, helvetica, Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.menu{
  width: 1150px;
  height: 130px;
  font-size: 30px;

      display: flex;
      align-content: space-between;
}

.logo, .midmenu, .kreator{
}
ul {
  list-style-type: none;
  overflow: hidden;
  background-color: white;
  display: flex;
  flex-direction: row;
  width: 1150px;
  height: 100px;
justify-content: space-around;
}

li {
  float: left;
  border-right: 1px solid;
}

li:last-child {
    border-right: none;
}

li a {
  display: block;
  color: black;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #fff;
}

.active {
  background-color: #366ea2;
}


.kreator_image {
  width: 145px;
  height: 45px;
  display:flex;
  align-self: flex-end;
}

.logo_image {
  width: 100px;
  height: 75px;
  display:flex;
align-self: flex-start;
}

.intro {
  padding-top: 25px;
  padding-bottom: 20px;
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 25px;
}

.urlim {
  padding: 25px;
  font-size: 30px;
}

.dooyong, .anna, .sumin {
  display: flex;
  flex-direction: row;
}

.wooseung, .chaejeong {
  display: flex;
  flex-direction: row-reverse;
  text-align: right;
}

.dooyong_texts, .anna_text, .sumin_text, .wooseung_text, .chaejeong_text {
  display: flex;
  flex-direction: column;
}

.name {
  font-style: italic;
  font-size: 33px;
  border-bottom: 2px black solid;
  margin-bottom: 16px;
}

.dooyong_image, .wooseung_image, .anna_image, .chaejeong_image, .sumin_image {
  width: 200px;
  height: 200px;
}
